.content {
  text-align: center;
  margin: auto auto;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#h1 {
  border: none;
  color: #fff;
  font-weight: 800;
  transition: 0.5s;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content #h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

#button {
  color: #fff;
  border-color: #fff;
  margin-top: 1rem;
}

body {
  background-color: #f8fafc;
}

.containerHero {
  width: 100%;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
  transition: 1s;
  left: 0;
}

video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
